.filter-button :hover {
    background-color: grey !important; /* Override Bootstrap color */
    color: white !important; /* Ensure the "X" is visible */
}

.filter-button:hover::after {
    content: " X";
}

.filter-button:hover .filter-content {
    display: none;
}